POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydb
POSTGRES_PORT=1379
POSTGRES_HOST=localhost
DATABASE_URL=postgresql://postgres:postgres@db:1379/mydb

CLIENT_ID=a4f0774bedfefc1d7d57
CLIENT_SECRET=ecae62fab2523e4484c5d141583c3bb0d7e7c4ae
CASSDOOR_ENDPOINT=http://194.180.11.239:8000/
APPLICATION_NAME=app-built-in
ORGANZATION_NAME=built-in
CERT=app/cert.pem
EXTERNAL_API_URL=http://localhost:8080/gw/admin/projects  
#http://host.docker.internal:8080/gw/admin/projects
SC_GATEWAY_ADMIN_KEY=sc-change-me
REDIS_PORT=5112